.header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: space-between;
  padding: 0.4rem;
  padding-left: 5rem;
  padding-right: 2rem;
  border-radius: 0rem 0rem 3rem 3rem;
  height: 4rem;
  margin-bottom: 50px;
  box-shadow: 0 0 5vw rgb(144, 62, 238);
}

.tittle {
  font-size: 2rem;
  cursor: pointer;
}

.cart {
  font-size: 1.5rem;
  cursor: pointer;
}
